@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

header .logo {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}

header .logo span {
    color: #ff0157;
}

header .navigation ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

header .navigation ul li a:hover {
    color: #ff0157;
}

header.sticky {
    padding: 0 30px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header.sticky .logo {
    color: #111;
}

header.sticky .navigation ul li a {
    color: #111;
}

header.sticky .navigation ul li a:hover {
    color: #ff0157;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bg1.jpg);
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
    padding: 0 10px;
}

.banner .content h2 {
    color: #fff;
    font-weight: 700;
    font-size: 3em;
}

.banner .content p {
    color: #fff;
}

.btn {
    text-decoration: none;
    background-color: #ff0157;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 1.5em;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 5px;
}

section {
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.titleText {
    color: #111;
    font-size: 1.75em;
    font-weight: 300;
}

.titleText span {
    color: #ff0157;
    font-size: 1.75em;
    font-weight: 700;
}

.text {
    color: #111;
    font-weight: 300;
}

.about .text {
    font-size: 1.25em;
    margin-top: 20px;
}

.about .text:last-child {
    margin-bottom: 50px;
}

.row .col50 .bgImg {
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col50 .bgImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .content .box .text {
    padding: 15px 0 5px;
}

.menu .content .box .text h3 {
    font-weight: 400;
    color: #111;
    font-size: 1em;
}

.expert .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.expert .content .box {
    width: 250px;
    margin: 15px;
}

.expert .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.expert .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expert .content .box .text {
    padding: 15px 0 5px;
}

.expert .content .box .text h3 {
    font-weight: 400;
    color: #111;
    font-size: 1em;
}

.testimonials {
    background: url(../images/bg2.jpg);
    background-size: cover;
}

.white .titleText, .white p {
    color: #fff;
}

.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonials .content .box {
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text {
    text-align: center;
}

.testimonials .content .box .text p {
    position: relative;
    color: #666;
    font-style: italic;
    padding-bottom: 10px;
}

.testimonials .content .box .text p:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 100px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.testimonials .content .box .text h3 {
    margin-top: 10px;
    font-size: 1em;
    color: #ff0157;
    font-weight: 600;
}

.contact {
    background: url(../images/bg3.jpg);
    background-size: cover;
    background-position: center;
}

.contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}

.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactForm .inputBox input[type="submit"] {
    color: #fff;
    border: none;
    font-weight: 600;
    width: auto;
    cursor: pointer;
    padding: 10px 30px;
    margin-top: 0;
}

footer {
    background-color: #333;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: #fff;
}

footer .logo {
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.5s;
}

footer .logo span {
    color: #ff0157;
    font-size: 1.25em;
    transition: 0.5s;
}

footer .logo:hover {
    color: #ff0157;
}

footer .logo:hover span {
    color: #fff;
}

footer .socialLinks {
    position: relative;
    display: flex;
}

footer .socialLinks li {
    list-style: none;
    margin-left: 30px;
}

footer .socialLinks li a {
    text-decoration: none;
}

footer .socialLinks li a i {
    color: #fff;
    transition: 0.5s;
}

footer .socialLinks li a:hover i {
    color: #ff0157;
}

@media (min-width:991px) {
    header .hamburger {
        display: none;
    }
    header .navigation ul {
        position: relative;
        display: flex;
    }
    header .navigation ul li {
        list-style: none;
        margin-left: 30px;
    }
}

@media (max-width:991px) {
    section {
        padding: 20px;
    }
    header .hamburger {
        position: absolute;
        right: 5%;
        cursor: pointer;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header .hamburger .lines {
        width: 30px;
        background-color: #fff;
        height: 3px;
        transition: all 0.3s ease-out;
    }
    header.sticky .hamburger .lines {
        background-color: #000;
    }
    header .hamburger .line1 {
        transform: translatey(-3px);
    }
    header .hamburger .line3 {
        transform: translatey(3px);
    }
    header .hamburger.clicked .lines {
        background-color: #fff;
    }
    header.sticky .hamburger.clicked .lines {
        background-color: #fff;
    }
    header .hamburger.clicked .line1 {
        transform: translatey(3px) rotate(-135deg);
    }
    header .hamburger.clicked .line2 {
        opacity: 0;
    }
    header .hamburger.clicked .line3 {
        transform: translatey(-3px) rotate(135deg);
    }
    header .hamburger~.anim:before {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        content: '';
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 1);
        transition: all 500ms ease-in-out;
        clip-path: circle(30px at calc(100% - 65px) 40px);
        visibility: hidden;
    }
    header .hamburger.clicked~.anim:before {
        visibility: visible;
        clip-path: circle(100%);
    }
    header .navigation {
        display: none;
    }
    header .navigation ul {
        opacity: 0;
        transition: 5s;
    }
    header .navigation.open {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0%;
        left: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 5s;
    }
    header .navigation.open ul {
        list-style: none;
        z-index: 2;
        opacity: 1;
        transition: 5s;
        text-align: center;
    }
    header .navigation.open ul li {
        margin-bottom: 10px;
    }
    header.sticky .navigation.open ul li a {
        transition: 1s;
        color: #fff;
    }
    .banner .content h2{
        font-size: 2em;
        margin-bottom: 10px;
    }
    .about .row {
        flex-direction: column;
        align-items: center;
    }
    .about .row .col50 {
        width: 100%;
    }
    .about .row .col50 h2 {
        text-align: center;
    }
    .about .text {
        margin-top: 10px;
    }
    .about .text:last-child {
        margin-bottom: 30px;
    }
    .row .col50 .bgImg {
        height: 300px;
    }
    .menu .content, .expert .content, .testimonials .content {
        margin-top: 20px;
    }
    .menu .content .box, .expert .content .box,.testimonials .content .box {
        margin: 10px;
    }
    .expert .content .box{
        width: 340px;
    }
    .testimonials .content .box{
        padding: 20px;
    }
    .contactForm{
        margin-top: 20px;
    }
    footer{
        flex-direction: column;
    }
footer p{
    text-align: center;
}
    footer .socialLinks
    {
        margin-top: 10px;;
    }
}